<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="emailcenter_maxautomation" frontName="emailcenter_maxautomation">
            <module name="Emailcenter_Maxautomation" />
        </route>
    </router>
</config>
